/* src/components/blog-post.css */

.blog-post-content {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
}

.blog-post-content p {
  margin-bottom: 1.5rem;
}

.blog-post-content h2,
.blog-post-content h3,
.blog-post-content h4 {
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.blog-post-content h2 {
  font-size: 1.8rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.blog-post-content h3 {
  font-size: 1.5rem;
}

.blog-post-content h4 {
  font-size: 1.2rem;
}

.blog-post-content a {
  color: #3f3cbb;
  text-decoration: none;
  border-bottom: 1px solid rgba(99, 102, 241, 0.4);
}

.blog-post-content a:hover {
  background-color: rgba(99, 102, 241, 0.1);
}

.blog-post-content ul,
.blog-post-content ol {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.blog-post-content li {
  margin-bottom: 0.5rem;
}

.blog-post-content blockquote {
  margin: 1.5rem 0;
  padding: 0.5rem 1.5rem;
  border-left: 4px solid #9e9eed;
  background-color: rgba(158, 158, 237, 0.1);
  color: #444;
  font-style: italic;
}

.blog-post-content code {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(99, 102, 241, 0.1);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 0.95em;
  color: #3f3cbb;
}

.blog-post-content pre {
  background-color: #f4f4f5; /* A light gray background */
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.9rem;
}

.blog-post-content pre code {
  background-color: transparent;
  padding: 0;
  color: #333; /* Darker text for pre blocks */
}

.blog-post-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 1.5rem 0;
}